app/assets/gml/pv_potential_small_ranked.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://ogr.maptools.org/" xmlns:ogr="http://ogr.maptools.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:gml="http://www.opengis.net/gml" elementFormDefault="qualified" version="1.0">
<xs:import namespace="http://www.opengis.net/gml" schemaLocation="http://schemas.opengis.net/gml/2.1.2/feature.xsd"/>
<xs:element name="FeatureCollection" type="ogr:FeatureCollectionType" substitutionGroup="gml:_FeatureCollection"/>
<xs:complexType name="FeatureCollectionType">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureCollectionType">
      <xs:attribute name="lockId" type="xs:string" use="optional"/>
      <xs:attribute name="scope" type="xs:string" use="optional"/>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
<xs:element name="pv_potential_small_ranked" type="ogr:pv_potential_small_ranked_Type" substitutionGroup="gml:_Feature"/>
<xs:complexType name="pv_potential_small_ranked_Type">
  <xs:complexContent>
    <xs:extension base="gml:AbstractFeatureType">
      <xs:sequence>
        <xs:element name="geometryProperty" type="gml:PolygonPropertyType" nillable="true" minOccurs="0" maxOccurs="1"/>
        <xs:element name="fid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="fid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="80"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="b_fid" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:maxLength value="12"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="area" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="type" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="build_id" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_n" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_rang" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_mean" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_stdd" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_vari" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_cf_v" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_sum" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_elec" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_cost" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="multi_c_e" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_n" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_range" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_mean" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_stdde" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_varia" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_cf_va" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_sum" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_elec" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_cost" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="mono_c_e" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_n" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_min" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_max" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_range" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_mean" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_stddev" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_varian" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_cf_var" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_sum" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:integer">
              <xs:totalDigits value="10"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_elec" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_cost" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="amo_c_e" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cum_area" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cum_multi" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cum_mono" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="cum_amo" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="c_e_multi" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="c_e_mono" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
        <xs:element name="c_e_amo" nillable="true" minOccurs="0" maxOccurs="1">
          <xs:simpleType>
            <xs:restriction base="xs:decimal">
              <xs:totalDigits value="24"/>
              <xs:fractionDigits value="15"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>
      </xs:sequence>
    </xs:extension>
  </xs:complexContent>
</xs:complexType>
</xs:schema>
